@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.userTabs {

  margin: 0 0 5px 0;
  padding: 0;

  .userTab {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    padding: 5px 10px;
    font-size: x-large;
    margin: 0 10px 0 0;
  }

  .userTabSelected {
    background-color: $ms-color-themeLight;
  }

}

.visitList {

  border-top-style: solid;
  border-width: 1px;

  .visitListRow {
    @include ms-Grid-row;
    border-color: black;
    border-top-style: hidden;
    border-bottom-style: solid;
    border-width: 1px;
  }

  .visitListRow:hover {
    background-color: $ms-color-neutralLight
  }
  
  .visitListRowSelected, 
  .visitListRowSelected:hover {
      background-color: $ms-color-themeLight;
  }

  .visitListDateColumn {
    @include ms-Grid-col;
    @include ms-sm4;
    @include ms-md3;
    @include ms-lg2;
  };

  .visitListDetailColumn {
    @include ms-Grid-col;
    @include ms-sm8;
    @include ms-md9;
    @include ms-lg10;
  }

  .visitListTime {
    @include ms-font-xl;
  }
  
  .visitListDate {
    @include ms-font-m;
  }

  .visitListTitle {
    @include ms-font-l;
  }

  .visitListLocation {
    @include ms-font-s;
  }

  .visitListContact {
    @include ms-font-s;
  }
}

.fieldVisits {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}

.weather {
  .weatherContainer {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .weatherrow {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .weathercolumn1 {
    @include ms-Grid-col;
    @include ms-xl2;
    @include ms-lg3;
    @include ms-md5;
    @include ms-sm12;
  }

  .weathercolumn2 {
    @include ms-Grid-col;
    @include ms-xl10;
    @include ms-lg9;
    @include ms-md7;
    @include ms-sm12;
  }

  .weatherTemp {
    @include ms-font-xxl;
    @include ms-fontColor-white;
  }

}

.map {
  .mapImage {
    width: 100%;
    height: auto;
  }
}

.documents {

  border-top-style: solid;
  border-width: 1px;

  .documentsRow {
    @include ms-Grid-row;
    border-color: $ms-color-neutralLight;
    border-bottom-style: solid;
    border-width: 1px;
  }

  .documentsHeadingRow {
    @include ms-Grid-row;
    color: $ms-color-white;
    background-color: $ms-color-themeDark;
  }

  .documentsRow:hover {
    background-color: $ms-color-neutralLight
  }
  
  .documentsNameColumn {
    @include ms-Grid-col;
    @include ms-sm8;
    @include ms-md6;
    @include ms-lg5;
  };

  .documentsAuthorColumn {
    @include ms-Grid-col;
    @include ms-sm1;
    @include ms-md3;
    @include ms-lg2;
  };

  .documentsDateColumn {
    @include ms-Grid-col;
    @include ms-sm4;
    @include ms-md3;
    @include ms-lg5;
  };

}
